@model IEnumerable<TravelPlanner.Models.Accommodation>

<!DOCTYPE html>
<html>
<head>
    <title>TravelPlanner - Home</title>
    <link rel="stylesheet" type="text/css" href="~/AccommodationActivity.css">
</head>

<br />
<br />

@{
    // Get the logged-in user's UserId
    int loggedInUserId = 0;
    var authCookieUser = Request.Cookies[System.Web.Security.FormsAuthentication.FormsCookieName];
    if (authCookieUser != null)
    {
        try
        {
            var ticket = System.Web.Security.FormsAuthentication.Decrypt(authCookieUser.Value);
            int.TryParse(ticket.Name, out loggedInUserId);
        }
        catch (System.Security.Cryptography.CryptographicException ex)
        {
            // Handle exception
            loggedInUserId = 0;
        }
    }
}


@using (Html.BeginForm("SearchAccommodation", "Accommodation", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Search Accommodation: (by location)")
        @Html.TextBox("searchAccommodation", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
}

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccommodationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccommodationLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccomodationDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccommodationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccommodationLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)<strong>€</strong>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    <div class="action-link">
                        @Html.ActionLink("Book", "StoreAccommodationIdAndRedirect", "Bookings", new { accommodationId = item.AccommodationId, actionName = "BookAccommodationView", controllerName = "Bookings", id = item.AccommodationId }, null)
                        @Html.ActionLink("Display Reviews", "DisplayReview", "ReviewAccommodation", new { accommodationId = item.AccommodationId }, null)
                        @Html.ActionLink("Leave Review", "ReviewAccommodationView", "ReviewAccommodation", new { id = item.AccommodationId }, null)
                        @if (item.UserId == loggedInUserId)
                        {
                            using (Html.BeginForm("DeleteAccommodation", "Accommodation", FormMethod.Post))
                            {
                                @Html.Hidden("accommodationId", item.AccommodationId)
                                <button type="submit" style="color:red; background:none; border:none; padding:0; cursor:pointer;">Delete Accommodation</button>
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
